/* Global */

html {
    position: relative;
    min-height: 100%;
    background-color: #EEEEEE;
}

body {
    margin: 40px auto;
    width: 70%;
}

/* Sidebar */

#sidebar {
    border-right: 1px solid;
}

#sidebar img {
    display: block;
    border: 3px solid #73AD21;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#sidebar p {
    width: 50%;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.2em;
}

#sidebar a {
    color: #3E5151;
    border-bottom: 0.3px solid; 
    text-decoration: none;
}

#sidebar a:hover {
    text-decoration: underline;
}

/* Main */

#main {
    margin-bottom: 40px;
    padding-left: 40px;
}

#main .meta {
    font-size: small;
}

#main p {
    font-family: Helvetica, Arial, sans-serif;
}

#main code {
    color: #24248F;
}

#main img {
    max-width: 100%;
    margin: 10px;
}

#main .see-all {
    color: black;
    text-align: center;
    font-size: 1.5em;
    text-decoration: underline;
}

#front-page .post {
    margin-bottom: 20px;
    border-bottom: 0.6px solid;
}

#front-page .title {
    color: black;
    font-size: 2em;
}

#front-page .title:hover {
    text-decoration: underline;
}

#front-page .meta {
    color: grey;
}

#front-page .preview {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Footer */

#footer {
    position: absolute;
    bottom: 0;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
